APP_PORT=8000

# 公司服务器上的 MySQL 地址。注意：如果 MySQL 不在同一个容器里，不要写 localhost。
SQLALCHEMY_DATABASE_URL=mysql+aiomysql://用户名:密码@数据库服务器IP:3306/Car_data

MQTT_BROKER=broker.emqx.io
MQTT_PORT=1883
MQTT_USER=hz_xulan
MQTT_PW=xunlan123456
MQTT_TOPIC=car/+/status
MQTT_MISSION_REPORT_TOPIC=car/+/task/report
MQTT_PATH_TOPIC_TEMPLATE=car/{car_ip}/task/path
MQTT_TASK_CMD_TOPIC_TEMPLATE=car/{car_ip}/task/cmd
MQTT_VERSION=1.0
MQTT_RECONNECT_DELAY=3
MQTT_RECENT_MSG_IDS=1000
